﻿@using FA.AtmSystem.Web.Infrastructures
@inject IUnitOfWork unitOfWork

@{
    Layout = null;
    var ATMs = await unitOfWork.ATMRepository.GetATMsAsync(StaticDetails.ATMAPIPath, Context.Session.GetString("JWTokenATM"));
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/dist/css/custom.css" rel="stylesheet">
<div class="container" style="margin-top: 20px">
  <div class="row">
      @foreach (var item in ATMs) 
      {
      <div class="col-sm-3 atm-img" style="margin-bottom:10px">
        <a class="btn" asp-controller="Home" asp-action="InsertCard"
                asp-route-ATMId="@item.ATMID" asp-route-ATMBranch="@item.Branch" asp-route-Image="@item.Image">
          <img 
                class="card-img atm-link" style="width:100%" data-id="1" height="200px" 
                src="~/dist/img/atm/@item.Image" alt="Card image ATM"/>
        </a>
      </div>
      }
  </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
