﻿
@{
    var atmBranch =  Context.Session.GetString("ATMBranch");
    var image = Context.Session.GetString("Image");
    var token=Context.Session.GetString("JWToken");

}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>ATM System Login</title>
  <meta name="description"
    content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version." />

  <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="~/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" /> 
  <!-- Loading Flat UI -->
  <link href="~/dist/css/flat-ui.css" rel="stylesheet">
  <link href="~/dist/css/demo.css" rel="stylesheet">
  <link href="~/dist/css/custom.css" rel="stylesheet">

  <link rel="shortcut icon" href="img/favicon.ico">
  <style>
      .disable {
          display: none !important;
      }
  </style>
</head>
<body>
      <div class="container">
    <div class="row align-items-center justify-content-center" style="padding: 20px">
      <div class="col-xs-12" id="screenView">
        <div style="padding:1px;border-bottom:solid .5rem #BDC3C7;height: 50px">
          <h6 style="font-weight:bolder;float:left">@atmBranch</h6>
        </div>
        <div class="row" style="padding:10px">

          <div class="col-xs-2" style="height: 400px;" align="center">

            <div style="margin-top: 130%;">
              <a id="logout" class="btn btn-lg btn-color btn-padding btn-action" data-id="1"> Button 1</a>
            </div>
            <br>
            <div>
              <a id="cancelTransactin" class="btn btn-lg btn-color btn-padding btn-action" data-id="2"> Button 2</a>
            </div>
            <br>
            <div>
              <a id="logout" class="btn btn-lg btn-color btn-padding btn-action" data-id="3"> Button 3</a>
            </div>


          </div>

          <div class="col-xs-8" style="border: solid .5rem #BDC3C7;height: 400px;">
           <div class="adImage-logo" style="padding: 10px;width: 100%">
              <img src="~/dist/img/compas.svg" class="responsive" alt="ATM">
              <h1 class="demo-section-title text-uppercase text-center"> @atmBranch</h1>
            </div>

            <div style="padding: 10px;">
              @RenderBody()
            </div>
          </div> 


          <div class="col-xs-2" style="height: 400px;" align="center">
            <div style="margin-top: 130%;">
              <a id="logout" href="#" class="btn btn-lg btn-color btn-padding btn-action" data-id="4"> Button 4</a>
            </div>
            <br>
            <div>
              <a id="cancelTransactin" href="#" class="btn btn-lg btn-color btn-padding btn-action" data-id="5"> Button 5</a>
            </div>
            <br>
            <div>
              <a id="logout" href="#" class="btn btn-lg btn-color btn-padding btn-action" data-id="6"> Button 6</a>
            </div>

          </div>


        </div>


        <div style="padding:5px" class="text-center">
          <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
              <div id="pinPad" style="float: inherit;">
                <table>
                  <tr>
                    <td><a id="btn1" href="#" class="btn btn-block btn-lg btn-inverse btn-number">1</a></td>
                    <td><a id="btn2" href="#" class="btn btn-block btn-lg btn-inverse btn-number">2</a></td>
                    <td><a id="btn3" href="#" class="btn btn-block btn-lg btn-inverse btn-number">3</a></td>
                    @if(@token != null)
                    {
                         <td><a asp-controller="ATM" asp-action="Index" class="btn btn-block btn-lg btn-danger btn-action" data-id="cancel">Cancel</a></td>
                    }
                    else{
                        <td><a asp-controller="ATM" asp-action="ValidateCard" class="btn btn-block btn-lg btn-danger btn-action" data-id="cancel">Cancel</a></td>
                    }

                  </tr>
                  <tr>
                    <td><a id="btn4" href="#" class="btn btn-block btn-lg btn-inverse btn-number">4</a></td>
                    <td><a id="btn5" href="#" class="btn btn-block btn-lg btn-inverse btn-number">5</a></td>
                    <td><a id="btn6" href="#" class="btn btn-block btn-lg btn-inverse btn-number">6</a></td>
                    <td><a id="btnClear" href="#" class="btn btn-block btn-lg btn-default btn-action btn-clear-input" data-id="clear">Clear</a></td>

                  </tr>
                  <tr>
                    <td><a id="btn7" href="#" class="btn btn-block btn-lg btn-inverse btn-number">7</a></td>
                    <td><a id="btn8" href="#" class="btn btn-block btn-lg btn-inverse btn-number">8</a></td>
                    <td><a id="btn9" href="#" class="btn btn-block btn-lg btn-inverse btn-number">9</a></td>
                    <td><a href="#" class="btn btn-block btn-lg btn-success btn-action" data-id="enter">Enter</a>
                    </td>

                  </tr>
                  <tr>
                    <td></td>
                    <td><a id="btn0" href="#" class="btn btn-block btn-lg btn-inverse  btn-number">0</a></td>


                  </tr>
                </table>

              </div>
            </div>
            <div class="col-xs-4">
             <a class="nav-link text-white btn btn-success" asp-area="" asp-controller="ATM" asp-action="ValidateCard">Insert Card</a>


              <img src="~/dist/img/InsertCardAnimate.gif" width="200px" height="150px" />
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>

      </div><!-- // END row-->

    </div> <!-- /container -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Card Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="col-form-label">Card No:</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group ">
                <label class="col-form-label">Account No:</label>
                <input type="text" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>
    <script src="~/dist/js/jquery.min.js"></script>
    <script src="~/dist/js/flat-ui.min.js"></script>
    <script src="~/dist/js/application.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
