﻿@using FA.AtmSystem.Core.Infrastructures
@inject IUnitOfWork unitOfWork

@{
    Layout = null;
    var ATMs = unitOfWork.ATMRepository.GetAll();
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    ATMs
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                           
        @foreach (var item in ATMs) 
    {
        <li class="nav-item"><a class=" dropdown-item">@Html.DisplayFor(modelItem => item.Branch)</a></li>
    }
    </ul>
</li>
