﻿@using FA.AtmSystem.ViewModels.ViewHistoryDtos
@model IEnumerable<ViewHistoryLogDto>

<div style="font-size: 10px; min-height: 239px" class="p-3 rounded">
        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="table-danger">
                    <th>ATM</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.ATM.Address</td>
                            <td>@item.LogType.Description</td>
                            <td>@item.LogDate</td>
                            <td>@String.Format("{0:0,0}", @item.Amount)</td>
                            <td>@item.Details</td>
                        </tr>
                    }
        </tbody>
        </table>
</div>
<div>
    @{
        var duration = ViewBag.Duration;
        var nextPage = (int)ViewBag.Page + 1;
        var prevPage = (int)ViewBag.Page - 1 < 0 ? 0 : (int)ViewBag.Page - 1;
        var disableNext = Model.ToList().Count() < 3 ? "disable" : "";
        var disablePrev = (int)ViewBag.Page == 0 ? "disable" : "";
    }

    <a href="/LogViewHistory/GetViewHistoryInADuration?duration=@duration&index=@prevPage" class="prev @disablePrev btn btn-link-3"  style="float: left;">&laquo; Previous</a>
    <a href="/LogViewHistory/GetViewHistoryInADuration?duration=@duration&index=@nextPage" class="next @disableNext btn btn-link-6"  style="float: right;">Next &raquo;</a>
</div>

