﻿<p style="color: rgb(116, 50, 50);font-size: 20px;padding-left:20px">Choose a duration you want to view!</p>
              <div style="padding: 12px;float: left;">
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-1" asp-route-duration="7" asp-controller="LogViewHistory" asp-action="GetViewHistoryInADuration">1 Week Ago</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-2" asp-route-duration="30" asp-controller="LogViewHistory" asp-action="GetViewHistoryInADuration">1 Month Ago</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-3" asp-route-duration="120" asp-controller="LogViewHistory" asp-action="GetViewHistoryInADuration">4 Month Ago</a>                  
                </div>
              </div>

              <div style="padding: 12px" align="right">
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-4" asp-route-duration="180" asp-controller="LogViewHistory" asp-action="GetViewHistoryInADuration">6 Months Ago</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-5" asp-route-duration="365" asp-controller="LogViewHistory" asp-action="GetViewHistoryInADuration">1 Year Ago</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-6" asp-route-duration="730" asp-controller="LogViewHistory" asp-action="GetViewHistoryInADuration">2 Years Ago</a>                  
                </div>
                <br>
              </div>
