﻿@model TransferViewModel

@{
    var moneyTranfer=String.Format("{0:0,0}",@Model.MoneyTransfer);
}

    <div class="form-group row" style="font-weight: bolder;margin-bottom:0px;">
                  <label class="col-sm-5 col-form-label">Receiver Account ID: </label>
                  <div class="col-sm-5 right">
                    @Model.AccountNo
                  </div>
                </div>  
                <div class="form-group row" style="font-weight: bolder;margin-bottom:0px">
                  <label class="col-sm-5 col-form-label">Receiver Name: </label>
                  <div class="col-sm-5 right" >
                    @Model.Name
                  </div>
                </div>    
                <div class="form-group row" style="font-weight: bolder;margin-bottom:0px">
                  <label class="col-sm-5 col-form-label">Amount: </label>
                  <div class="col-sm-5">
                     @moneyTranfer VNĐ
                  </div>
                </div> 
            


<div style="margin-top: 5%;" align="right">
                <div>
                   <a asp-controller="Customer" asp-action="Transfer" asp-route-name=@Model.Name asp-route-accountNo=@Model.AccountNo
                   asp-route-amount=@Model.MoneyTransfer
                  class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5"><i class="fa-solid fa-thumbs-up"></i> Accept</a>
                </div>
                <br>
                <div>               
                 <a asp-controller="ATM" asp-action="Index" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6">
                      <i class="fa-solid fa-thumbs-down"></i> Reject</a>
                </div>
</div>
