﻿@using FA.AtmSystem.ViewModels.Accounts
@model AccountViewModel

 
<p class="text-center">Reciver Information</p>
                <div class="form-group row" style="font-weight: bolder; margin-bottom:0px">
                  <label class="col-sm-5 col-form-label">Account Receiver Name: </label>
                  <div class="col-sm-5 right">
                    @Model.Name
                  </div>
                </div>  
                <div class="form-group row" style="font-weight: bolder;margin-bottom:0px">
                  <label class="col-sm-5 col-form-label">Account Receiver ID: </label>
                  <div class="col-sm-5 right" >
                    @Model.AccountNo
                  </div>
                </div>    
                <em>Press accept to continute, reject to re-enter account receiver</em> 
                <div style="margin-top: 0px;" align="right">
                <div>
                  <a asp-controller="Customer" asp-action="AmountInput" asp-route-name=@Model.Name asp-route-accountNo=@Model.AccountNo
                  class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5"><i class="fa-solid fa-thumbs-up"></i> Accept</a>
                </div>
                <br />
                <div>
                  <a asp-controller="ATM" asp-action="Index" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6">
                      <i class="fa-solid fa-thumbs-down"></i> Reject</a>
                </div>
     
</div>

@*<p>Reciver Information</p>
<form asp-controller="Customer" asp-action="AccountInput"  method="post">
    <label asp-for="Name">Account Receiver Name:</label>
    <
</form>
                <div class="form-group row" style="font-weight: bolder;">
                  <label class="col-sm-5 col-form-label">Account Receiver Name: </label>
                  <div class="col-sm-5 right">
                    @Model.Name
                  </div>
                </div>  
                <div class="form-group row" style="font-weight: bolder;">
                  <label class="col-sm-5 col-form-label">Account Receiver ID: </label>
                  <div class="col-sm-5 right" >
                    @Model.AccountNo
                  </div>
                </div>    
                <em>Press enter to submit, cancel to quit</em> 
                <div style="margin-top: 10%;" align="right">
                <div>
                  <a asp-controller="Customer" asp-action="AccountInput" asp-route-name=@Model.Name asp-route-accountNo=@Model.AccountNo
                  class="btn btn-lg btn-padding-tran-pin logout-tran-right"><i class="fa-solid fa-thumbs-up"></i> Accept</a>
                </div>
                <br>
                <div>
                  <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-padding-tran-pin logout-tran-right">
                      <i class="fa-solid fa-thumbs-down"></i> Reject</a>
                </div>
</div>
*@

                

