﻿@using FA.AtmSystem.ViewModels.Cards
@model CardVM

<p>Please enter account number want to transfer</p>
<form asp-controller="Customer" asp-action="AccountInput" method="post">
                <div class="form-group row" style="font-weight: bolder;">
                  <label class="col-sm-5 col-form-label">Account Transfer Name: </label>
                  <div class="col-sm-5 right">
                    @Model.Name
                  </div>
                </div>  
                <div class="form-group row" style="font-weight: bolder;">
                  <label class="col-sm-5 col-form-label">Account Transfer ID: </label>
                  <div class="col-sm-5 right" >
                    @Model.AccountNo
                  </div>
                </div>    
                <div class="form-group row" style="font-weight: bolder;">
                  <label class="col-sm-5 col-form-label">Account Receive ID: </label>
                  <div class="col-sm-5">
                    <input type="text" style=" font-size:18px"class="form-control input-number" name="AcountNoRecive">
                  </div>
                </div> 
                 <em>Press enter to submit, cancel to quit</em> 
                 <div class='m-3' style="visibility:hidden">
                    <input type="submit" value="Enter" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-enter" />              
                </div>
</form>
               
