﻿@model TransferViewModel

<form asp-controller="Customer" asp-action="AcceptedTransfer" method="post">
                <div class="form-group row" style="font-weight: bolder; margin-top:10%">
                  <input type="hidden" name="AccountNo" value="@Model.AccountNo"/>
                  <input type="hidden" name="Name" value="@Model.Name"/>
                  <label class="col-sm-5 col-form-label" style="text-align:right; font-size:20px"><b>Amount:</b> </label>
                  <div class="col-sm-5">
                    <input type="text" style="font-weight: bolder; font-size:20px" class="form-control input-number money" 
                    name="TransferAmount">
                  </div>
                </div> 
                <div class="text-center">
                     <em>Press enter to continute</em> 
                </div>
               
                 <div class='m-3' style="visibility:hidden">
                    <input type="submit" value="Enter" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-enter" />              
                </div>
</form>
                

