﻿@using FA.AtmSystem.ViewModels.Accounts
@model AccountViewModel
@{
    var balance=String.Format("{0:0,0}", @Model.Balance);
}
<div style="margin-top: 5%; padding-left: 5px">
    <p>Your acount have @balance VNĐ</p>
    <p>Do you want to print receipt ?</p>
</div>

<div style="margin-top: 8%;" align="right">
      <div>
        <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5" asp-controller="ATM" asp-action="Index">Yes</a>
    </div>
      <br>
    <div>
        <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6" asp-controller="ATM" asp-action="Index">No</a>
    </div>
</div>
