﻿@{
    //string errorMessages = ViewBag.ErrorMessages ;
    //var t = 0;
}


<div class="text-center">
    @if(@TempData["ErrorMessages"] != null)
        {
            <p style="color:red">
                @TempData["ErrorMessages"]
        </p>

    }
    else
    {
         <p>Enter your amount you want to withdrawal below, number you enter have to divisible to 50.000</p>
    }  
     <div class="form-group" style="float: inherit;">
         <form asp-area="" asp-controller="Customer" asp-action="WithDrawMoney" method=post>
             <input type="text" style="font-weight: bolder; font-size:20px;width:350px;margin:auto" class="form-control money input-number" name="WithdrawAmmount">
            <div align="right">
                <br>
                <div class='m-3'>
                    <input type="submit" value="OK" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5" />              
                </div>
                <br>
                <div>
                    <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6" data-id="enter" asp-controller="ATM" asp-action="Index">Cancel</a>
                </div>
               
            </div>
          </form>
      </div>   
 </div>


