﻿<p style="color: rgb(116, 50, 50);font-size: 20px;padding-left:20px">Choose amount below or enter your amount you want</p>
              <div style="padding: 12px;float: left;">
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-1" asp-route-withdrawAmmount="500000" asp-controller="Customer" asp-action="WithDrawMoney">500.000</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-2" asp-route-withdrawAmmount="2000000" asp-controller="Customer" asp-action="WithDrawMoney">2.000.000</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-3" asp-route-withdrawAmmount="3000000" asp-controller="Customer" asp-action="WithDrawMoney">3.000.000</a>                  
                </div>
              </div>

              <div style="padding: 12px" align="right">
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-4" asp-route-withdrawAmmount="1000000" asp-controller="Customer" asp-action="WithDrawMoney">1.000.000</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-5" asp-route-withdrawAmmount="2500000" asp-controller="Customer" asp-action="WithDrawMoney">2.500.000</a>                  
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran btn-link-6" asp-area="" asp-controller="Customer" asp-action="EnterInput">Enter Other</a>
                </div>
              </div>
