﻿<form asp-action="RePIN" asp-controller="Customer">

         <div class="text-center">
             @if(@TempData["ErrorMessages"] != null)
                {
                    <p style="color:red">
                        @TempData["ErrorMessages"]
                    </p>

             }
            else
            {
                    <p>Enter PIN you want to change</p>            
            }  
            
            <div class="form-group" style="float: inherit;">
                 <input type="text" name="newPIN" class="form-control input-number" >
            </div> 
            <em>PIN must have 6 numbers and not match with old PIN</em>
         </div>

         <div style="bottom: 0" align="center">
             <em>Press enter to continue, clear to re-enter</em>
             <br />
             <button type="submit" class="btn-link-enter" hidden>Submit</button>
        </div>
</form>