﻿<div class="text-center" style="margin-top:5%">
    
     <p style="color:red">Your account not exist !</p>
     <p>Re-enter account you want to transfer</p>
     
     <div class="form-group" style="float: inherit;">
         <form asp-area="" asp-controller="Customer" asp-action="AccountInput" method=post>
             <div style="align-items:center">
                 <input type="text" style="font-weight: bolder; font-size:20px;width:250px;margin:auto" class="form-control input-number"
                 name="AcountNoRecive">
             </div>
             
            <div align="right">
                <br>
                <div class='m-3' style="visibility:hidden">
                    <input type="submit" value="OK" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-enter" />              
                </div>
                <br>               
            </div>
          </form>
      </div>   
 </div>
