﻿@model TransferViewModel 
<div class="text-center">
    
     <p style="color:red">Your account isn't enough to transfer</p>
     <p>Re-enter amount you want to transfer</p>
     
     <div class="form-group" style="float: inherit;">
         <form asp-area="" asp-controller="Customer" asp-action="AcceptedTransfer" method=post>
             <input type="hidden" asp-for="AccountNo" value="@Model.AccountNo" />
             <input type="hidden" asp-for="Name" value="@Model.Name" />
             <input type="text" class="form-control input-number money" style="font-weight: bolder; font-size:20px;width:250px;margin:auto" name="TransferAmount">
            <div align="right">
                <br>
                <div class='m-3' style="visibility:hidden">
                    <input type="submit" value="OK" class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-enter" />              
                </div>
                <br>               
            </div>
          </form>
      </div>   
 </div>

