﻿<div style="margin-top: 10%;" class="text-center">
                <p>Rules of transfer cash in HLD Bank</p>
                
                
              </div>

              <div style="margin-top: 11%;" align="right">
                <div>
                     <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5" asp-controller="Customer" asp-action="AccountInput"><i class="fa-solid fa-thumbs-up"></i> Accept</a>
                </div>
                <br>
                <div>
                    <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6" asp-controller="ATM" asp-action="Index"><i class="fa-solid fa-thumbs-down"></i> Reject</a>
                </div>
              </div>
