﻿<div style="margin-top: 7%;" class="text-center">
    <h4 style="color: blue">Transfer Success !</h4>
    <p>Do you want receive receipt?</p>
</div>
<div style="margin-top: 6%;" align="right">
    <div>
        <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5" asp-controller="ATM" asp-action="Index">Yes</a>
    </div>
      <br>
<div>
    <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6" asp-controller="ATM" asp-action="Index">No</a>
</div>
</div>
