﻿<div style="margin-top: 10%;" class="text-center">
    <p>Do you want print receipt?</p>
</div>
<div style="margin-top: 12%;" align="right">
    <div>
        <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-5" asp-controller="ATM" asp-action="Index">Yes</a>
    </div>
      <br>
<div>
    <a class="btn btn-lg btn-padding-tran-pin logout-tran-right btn-link-6" asp-controller="ATM" asp-action="Index">No</a>
</div>
</div>
