﻿@model IEnumerable<FA.AtmSystem.Core.Models.Card>

@{
    ViewData["Title"] = "ATMCardList";
}

<h1>ATMCardList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attempt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CardNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CardNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CardNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
