﻿

<p class="text-center">Please select a transaction</p>
              <div style="padding: 17px;float: left;">
                <div>
                     <a class="btn btn-lg btn-padding-tran logout-tran btn-link-1" asp-controller="Customer" asp-action="Index">WithDraw</a>
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran btn-link-2" asp-controller="Customer" asp-action="Balance">Check Balance</a>
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran btn-link-3" asp-controller="Customer" asp-action="RuleTransfer">Transfer</a>
                </div>
              </div>

              <div style="padding: 17px" align="right">
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-4" asp-controller="LogViewHistory" asp-action="Index"> View History</a>
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-5" asp-action="NewPIN" asp-controller="Customer" > Change PIN</a>
                </div>
                <br>
                <div>
                  <a class="btn btn-lg btn-padding-tran logout-tran-right btn-link-6" asp-controller="ATM" asp-action="Logout"> Exit</a>
                </div>
              </div>