﻿@using FA.AtmSystem.Cards.ViewModels
@model CardValidatePINVM
@{
    ViewData["Title"] = "ValidateCardPIN";
    var tempVal = TempData["Attempt"];
}

@if(tempVal != null)
{
    @if(tempVal.ToString() == "1")
    {
        <p class="text-center">You enter WRONG PIN Number</p>
    }
}


<form method="post" >
    <div class="text-center">
        <p>Enter Your PIN</p>
        <div class="form-group col-4" >
            <input asp-for="InputPIN" type="text" class="form-control input-number" style="font-weight: bolder; font-size:20px;width:250px;margin:auto"/>
            <span asp-validation-for="InputPIN" class="text-danger"></span>
            <input type="hidden" asp-for= "CardNo" value="@TempData["CardNo"]" />
            <button value="Submit" class="btn-link-enter btn-valid" style="visibility:hidden">Enter</button>
        </div> 
        <p>then press Enter button</p>
    </div> 
</form>

@section scripts {

    <script>

        //localStorage.setItem("linkToPage", "ATM/Index")    
        
    </script>

}