﻿@using FA.AtmSystem.Cards.ViewModels

@model CardValidateVM
@{
    ViewData["Title"] = "Validate Card";
}
<form method="post">
    <div class="text-center">
        <p>Enter Card Number</p>
        <div class="form-group col-4" >
            <input asp-for="CardNo" type="text" class="form-control input-number" style="font-weight: bolder; font-size:20px;width:250px;margin:auto"/>
            <button class="btn-link-enter " type="submit" value="Submit"  style="visibility:hidden">Enter</button>
        </div> 
        <p>then press Enter button</p>
    </div> 
</form>
       