﻿<div class="text-center">
     <h3>Validating ....</h3>
     
</div>

@section scripts {

    <script>
        //document.addEventListener("DOMContentLoaded",function(element){
        //    setTimeout(()=>{

        //        location.href=  "/Index"
                
        //    },5000)
        //});

    </script>

}
